* {
  margin: 0;
  padding: 0;
  font-family: "Hind Vadodara", sans-serif;
  scroll-behavior: smooth;
}

:focus {
  outline: 0;
}

/* LAYOUT */

.container {
  background-color: #c0ff0c;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* NAVBAR */

.layout-navbar-flex {
  /* margin-left: 1rem; */
  flex-grow: 0.8;
}

.nav {
  width: 70px;
  background-color: white;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* CONTENT */

.layout-only-for-flex {
  background-color: white;
  height: 95vh;
  margin: 2.5vh;
  flex-grow: 5000;
  overflow-x: hidden;
}

/* SHOPPING CART AND BURGERBAR LOGO */

.nav-shoppingcart-burgerbar-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  flex-grow: 0.2;
}

.nav-onlyshoppingcart-burgerbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 0.5;
}

#burgerMenu {
  cursor: pointer;
  /* color: #c0f779; */
}

/* PRODUCT BURGER BAR */

.nav-product {
  transform: rotate(270deg);
}

.products {
  text-decoration: none;
  list-style: none;
  font-weight: 100;
}

/* TITLE, HOME */

.nav-header {
  height: 4rem;
}

.nav-header h4 {
  transform: rotate(270deg);
  font-weight: 900;
  font-size: 1.3rem;
}

/* ALL LINKS */

.navbar {
  color: black;
  text-decoration: none;
}

/* FLEX LAYOUT */

.sneaker-slider {
  position: relative;
  overflow-x: hidden;
  height: 95vh;
  /* margin: 0.3rem */
}

.sneaker-wrapper {
  display: flex;
  position: absolute;
}

.sneaker-wrapper:first-child {
  margin-left: 0.3rem;
}

.flex-child {
  flex: 1;
  padding: 0.3rem 0.3rem 0.3rem 0rem;
}

.img-div {
  height: calc(95vh - 2.9rem);
  overflow-y: hidden;
}

.img-div img {
  height: calc(95vh - 2.9rem);
  overflow-y: hidden;
}

.brand-model-div {
  height: 2.3rem;
  background-color: rgb(112, 112, 112, 0.12);
  font-size: 0.8rem;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff5c00;
}

.brand-model-div div {
  margin: 0px 5px;
}

.price-div {
  font-size: 1rem;
}

.buttonStyled {
  padding: 1.3rem 2rem;
  font-size: 2rem;
  color: black;
  font-weight: inherit;
  background-color: black;
  opacity: 0.5;
  border: none;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.buttonStyled:hover {
  opacity: 0.7;
  color: black;
  text-shadow: -0.7px 0 white, 0 0.7px white, 0.7px 0 white, 0 -0.7px white;
}

.arrow-box {
  padding: 1.3rem 2rem;
  font-size: 1.4rem;
  background-color: black;
  color: black;
  text-shadow: -0.7px 0 white, 0 0.7px white, 0.7px 0 white, 0 -0.7px white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 2rem);
  left: calc(50% - 15rem);
  position: absolute;
  -webkit-animation: displaying 3.5s;
  -moz-animation: displaying 3.5s;
  -o-animation: displaying 3.5s;
  animation: displaying 3.5s;
  animation-fill-mode: forwards;
}

@keyframes displaying {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.item-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.item-img-div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img-div img {
  /* margin-top: 1rem; */
  width: 82%;
}

.restOfDetails {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.info-item-div {
  text-transform: capitalize;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ff5c00;
}

.description {
  /* margin: 2rem 0rem; */
  width: 85%;
  color: #ff5c00;
}

.dropdown {
  text-transform: uppercase;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-bottom: 2rem; */
}

.dropdown div {
  background-color: white;
  color: #ff5c00;
  /* border: 0.1px solid black; */
  /* padding: 0.5rem; */
}

.dropdown div select {
  background-color: white;
  margin-left: 1rem;
  color: #ff5c00;
  border: 0.1px solid #ff5c00;
  padding: 0.3rem;
  /* border-radius: 10px; */
}

.buttondiv {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtocart {
  width: 100%;
  border: none;
  padding: 1rem 0rem;
  text-transform: uppercase;
  background-color: #c0ff0c;
  font-size: 1.4rem;
  cursor: pointer;
}

.styleNav {
  color: #ff5c00;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #707070;
  transition: 0.3s linear;
}

.styleNav:hover {
  border: none;
  color: #707070;
  background-color: #c0ff0c;
}

.secondButtondiv {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem 0rem;
  width: 80%;
  background-color: #ff5c00;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  list-style: none;
  flex-wrap: wrap;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0rem;
  width: 80%;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.flex-cart {
  width: 100%;
  height: 100%;
  display: flex;
}

.box-for-flex {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cart-img-info-div {
  margin-top: 0.5rem;
  color: #ff5c00;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem 1rem;
}

.ITEM-cart {
  width: 10%;
}

.cart-imgdiv {
  width: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cart-imgdiv img {
  width: 100%;
  height: 100%;
}

.paymentbutton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.paymentbutton button {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff5c00;
  color: white;
  text-transform: uppercase;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.personal-button {
  height: 100%;
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ff5c00
}

.personalinfo-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

.namediv {
  display: flex;
}

.firstname {
  display: flex;
  width: 50%;
}

.lastname {
  display: flex;
  width: 50%;
}

.firstname input {
  border: none;
  border-bottom: 1px solid #ff5c00;
}

.lastname input {
  border: none;
  border-bottom: 1px solid #ff5c00;
}

.adress {
  width: 100%;
  display: flex;
}

.adress span {
  /* flex-grow: 1; */
}

.adress input {
  border: none;
  border-bottom: 1px solid #ff5c00;
  flex-grow: 1;
}

.countryandzip {
  width: 100%;
  display: flex;
}

.country {
  display: flex;
  width: 100%;
}

.zip {
  display: flex;
  width: 100%;
}

.country input {
  border: none;
  border-bottom: 1px solid #ff5c00;
  flex-grow: 1;
}

.zip input {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #ff5c00;
}


/* PAYMENT*/


.payment-layout{
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
}

/* Recap */

.Recap{
  display: flex;
  flex-direction: row;
  
}

.cart-Recap {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20em;
  width: 20%;
  flex-grow: 6;
  height: 30vh;
  margin-right: .625em;
  border: 1px solid #ff5c00;

}

.cart-Recap-Header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.cart-Recap-Header h5{
  display: flex;
}

.card-Total{
  display: flex;
  justify-content: flex-end;
  width:10rem;
  margin-left:  0;
}


.adress-Recap {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20em;
  width: 20%;
  height: 30vh;
  margin-left: .625em;
  border: 1px solid #ff5c00;
}


/* NOW */
.Now {
  display: flex;
  flex-direction: row;

}
.solution {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 6;
  min-width: 20em;
 margin-top: 1.25em;
 padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  border: 1px solid #ff5c00;
}

.payment-Solution {
  display: flex;

}
.delivery-Solution {
display: flex;
}