* {
  margin: 0;
  padding: 0;
  font-family: "Hind Vadodara", sans-serif;
  scroll-behavior: smooth;
}

:focus {
  outline: 0;
}

/* LAYOUT */

.container {
  background-color: #c0ff0c;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* NAVBAR */

.layout-navbar-flex {
  /* margin-left: 1rem; */
  flex-grow: 0.8;
}

.nav {
  width: 70px;
  background-color: white;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* CONTENT */

.layout-only-for-flex {
  background-color: white;
  height: 95vh;
  margin: 2.5vh;
  flex-grow: 5000;
  overflow-x: hidden;
}

/* SHOPPING CART AND BURGERBAR LOGO */

.nav-shoppingcart-burgerbar-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  flex-grow: 0.2;
}

.nav-onlyshoppingcart-burgerbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 0.5;
}

#burgerMenu {
  cursor: pointer;
  /* color: #c0f779; */
}

/* PRODUCT BURGER BAR */

.nav-product {
  transform: rotate(270deg);
}

.products {
  text-decoration: none;
  list-style: none;
  font-weight: 100;
}

/* TITLE, HOME */

.nav-header {
  height: 4rem;
}

.nav-header h4 {
  transform: rotate(270deg);
  font-weight: 900;
  font-size: 1.3rem;
}

/* ALL LINKS */

.navbar {
  color: black;
  text-decoration: none;
}

/* FLEX LAYOUT */

.sneaker-slider {
  position: relative;
  overflow-x: hidden;
  height: 95vh;
  /* margin: 0.3rem */
}

.sneaker-wrapper {
  display: flex;
  position: absolute;
}

.sneaker-wrapper:first-child {
  margin-left: 0.3rem;
}

.flex-child {
  flex: 1;
  padding: 0.3rem 0.3rem 0.3rem 0rem;
}

.img-div {
  height: calc(95vh - 2.9rem);
  overflow-y: hidden;
}

.img-div img {
  height: calc(95vh - 2.9rem);
  overflow-y: hidden;
}

.brand-model-div {
  height: 2.3rem;
  background-color: rgb(112, 112, 112, 0.12);
  font-size: 0.8rem;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff5c00;
}

.brand-model-div div {
  margin: 0px 5px;
}

.price-div {
  font-size: 1rem;
}

.buttonStyled {
  padding: 1.3rem 2rem;
  font-size: 2rem;
  color: black;
  font-weight: inherit;
  background-color: black;
  opacity: 0.5;
  border: none;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.buttonStyled:hover {
  opacity: 0.7;
  color: black;
  text-shadow: -0.7px 0 white, 0 0.7px white, 0.7px 0 white, 0 -0.7px white;
}

.arrow-box {
  padding: 1.3rem 2rem;
  font-size: 1.4rem;
  background-color: black;
  color: black;
  text-shadow: -0.7px 0 white, 0 0.7px white, 0.7px 0 white, 0 -0.7px white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 2rem);
  left: calc(50% - 15rem);
  position: absolute;
  -webkit-animation: displaying 3.5s;
  -moz-animation: displaying 3.5s;
  -o-animation: displaying 3.5s;
  animation: displaying 3.5s;
  animation-fill-mode: forwards;
}

@keyframes displaying {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.item-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.item-img-div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img-div img {
  /* margin-top: 1rem; */
  width: 82%;
}

.restOfDetails {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.info-item-div {
  text-transform: capitalize;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ff5c00;
}

.description {
  /* margin: 2rem 0rem; */
  width: 85%;
  color: #ff5c00;
}

.dropdown {
  text-transform: uppercase;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-bottom: 2rem; */
}

.dropdown div {
  background-color: white;
  color: #ff5c00;
  /* border: 0.1px solid black; */
  /* padding: 0.5rem; */
}

.dropdown div select {
  background-color: white;
  margin-left: 1rem;
  color: #ff5c00;
  border: 0.1px solid #ff5c00;
  padding: 0.3rem;
  /* border-radius: 10px; */
}

.buttondiv {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtocart {
  width: 100%;
  border: none;
  padding: 1rem 0rem;
  text-transform: uppercase;
  background-color: #c0ff0c;
  font-size: 1.4rem;
  cursor: pointer;
}

.styleNav {
  color: #ff5c00;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #707070;
  transition: 0.3s linear;
}

.styleNav:hover {
  border: none;
  color: #707070;
  background-color: #c0ff0c;
}

.secondButtondiv {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem 0rem;
  width: 80%;
  background-color: #ff5c00;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  list-style: none;
  flex-wrap: wrap;
  
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0rem;
  width: 80%;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  
}

.flex-cart {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.box-for-flex {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  border: 1px solid #ff5c00;
}

.flex-cart-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.cart-img-info-div {
  width: 95%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  


}

.ITEM-cart {
  width: 10%;
}

.cart-imgdiv {
  width: 20%;
  height: 100%;
}

.cart-imgdiv img {
  width: 100%;
  height: 100%;
}

.cart-img-info-div-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart-img-info-div-header h3 {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cart-img-info-div-header div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pricediv {
  font-size: 1.4rem;
  display: flex;
  align-items: flex-start;
}

.qtydiv {
  font-size: 0.8rem;
}

.modeldiv {
  font-size: 1rem;
}

.icondiv {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-style: 1rem;
}

#icon {
  width: 1.5em;
  height: 1.5em;
  font-weight: 900;
  cursor: pointer;
}

.cart-qty-size-price-div {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  
}

.totalDiv {
  width: 35%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  border: 1px solid #ff5c00;
}

.subheader-total {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.total-total {
  border-top: 1px solid #d3d3d3;
  padding-top: 1rem;
  margin-top: 0.5rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.header-total h3 {
  margin-top: 0.5rem;
}

.header-total {
  font-size: 1.5rem;
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.paymentbutton {
  width: 60%;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-bottom: 1rem;
}



/* PAYMENT*/

.payment-layout {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;

  
  flex-direction: row;
}

.delivery-box{
  display: flex;
  flex-direction: column;
  width: 40%;

}
.payment-box{
  display: flex;
  flex-direction: column;
  width: 40%;
  
 

}


.payment-Solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: .625rem;
  margin-left: .625rem;
  padding: .625rem .625rem .625rem .625rem;
  border: 1px solid #ff5c00;
  justify-content: center;
}

.payment-Solution h5 {
  margin-right: 1rem;
}
.radio-div{
  display: flex;
  flex-direction: column;
 
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: .625rem;
  margin-top: .625rem;
  border: 1px solid #ff5c00;
  padding: .625rem .625rem .625rem .625rem;
 
}
.delivery-Solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-grow: 1;
  margin-bottom: .625rem;
  margin-right: .625rem;
  padding: .625rem .625rem .625rem .625rem;
  border: 1px solid #ff5c00;
}

#shoppingbasket {
  width: 2em;
  height: 2em
}

.delivery-creditcard-form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.payment-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: .625rem;
  width: 100%;
  margin-left: .625rem;
  flex-grow: 1;
  padding: .625rem .625rem 1.625rem .625rem;
  border: 1px solid #ff5c00;

}

.delivery-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: .625rem;
  padding: .625rem .625rem 1.625rem .625rem;
  border: 1px solid #ff5c00;

}



.adress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: .625rem;
  margin-right: .625rem;
  padding: .625rem .625rem 1.625rem .625rem;
  border: 1px solid #ff5c00;
  
  
}

#field {
  width: 30rem !important;

}


#field-narrow {
  width: 15rem !important;
}
#next-button{
  background-color: #ff5c00;
  color: white;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 840px) {
  .layout-only-for-flex {
    background-color: white;
    height: 95vh;
    
    flex-grow: 5000;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  .payment-layout {
    width: 70%;
    height: 130vh;
    display: flex;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  #field {
    width: 5rem !important;
  }
  .delivery-box{
    display: flex;
    width: 100%;
  
  }
  .payment-box{
    display: flex;
   width:100%
    
   
  
  }
  
  
  .payment-Solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: .625rem .625rem .625rem .625rem;
    border: 1px solid #ff5c00;
    justify-content: center;
  }
  
  .payment-Solution h5 {
    margin-right: 1rem;
  }
  .radio-div{
    display: flex;
    flex-direction: column;
   
  }
  
  .payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #ff5c00;
    padding: .625rem .625rem .625rem .625rem;
   
  }
  .delivery-Solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: ;
    margin-bottom: .625rem;
    padding: .625rem .625rem .625rem .625rem;
    border: 1px solid #ff5c00;
  }
  
  #shoppingbasket {
    width: 2em;
    height: 2em
  }
  
  .delivery-creditcard-form {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .payment-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: .625rem;
    width: 100%;
    padding: .625rem .625rem .625rem .625rem;
    border: 1px solid #ff5c00;
  
  }
  
  .delivery-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .625rem;
    padding: .625rem .625rem .625rem .625rem;
    border: 1px solid #ff5c00;
  
  }
  
  
  
  .adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: .625rem;
    margin-right: .625rem;
    padding: .625rem .625rem .625rem .625rem;
    border: 1px solid #ff5c00;
    
    
  }
  #field{
    width: 10rem !important;
  }
  #field-narrow {
    width: 15rem !important;
  }
  #next-button{
    background-color: #ff5c00;
    color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
.zip {
  display: flex;
  width: 80%;

}

.checkout-flex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.checkout-products {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
  padding: .625rem .625rem .625rem .625rem;
    border: 1px solid #ff5c00;
}

.checkout-products-brandmodel {
  display: flex;
  flex-direction: column;
}

.checkout-shipping-total-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: .625rem .625rem .625rem .625rem;
    border: 1px solid #ff5c00;
}

.checkout-shipping {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

}

.checkout-total {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.checkout-delivery-payment-wrapper {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  padding: .625rem .625rem .625rem .625rem;
    border: 1px solid #ff5c00;
}

.checkout-delivery {
  display: flex;
  flex-direction: column;
}

.checkout-payment {
  display: flex;
  flex-direction: column;
}

.confirmed {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
