* {
  margin: 0;
  padding: 0;
  font-family: "Hind Vadodara", sans-serif;
  scroll-behavior: smooth;
}

:focus {
  outline: 0;
}

/* LAYOUT */

.container {
  background-color: #c0ff0c;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* NAVBAR */

.layout-navbar-flex {
  /* margin-left: 1rem; */
  flex-grow: 0.8;
}

.nav {
  width: 70px;
  background-color: white;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* CONTENT */

.layout-only-for-flex {
  background-color: white;
  height: 95vh;
  margin: 2.5vh;
  flex-grow: 5000;
  overflow-x: hidden;
}

/* SHOPPING CART AND BURGERBAR LOGO */

.nav-shoppingcart-burgerbar-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  flex-grow: 0.2;
}

.nav-onlyshoppingcart-burgerbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 0.5;
}

#burgerMenu {
  cursor: pointer;
  /* color: #c0f779; */
}

/* PRODUCT BURGER BAR */

.nav-product {
  transform: rotate(270deg);
}

.products {
  text-decoration: none;
  list-style: none;
  font-weight: 100;
}

/* TITLE, HOME */

.nav-header {
  height: 4rem;
}

.nav-header h4 {
  transform: rotate(270deg);
  font-weight: 900;
  font-size: 1.3rem;
}

/* ALL LINKS */

.navbar {
  color: black;
  text-decoration: none;
}

/* FLEX LAYOUT */

.sneaker-slider {
  position: relative;
  overflow-x: hidden;
  height: 95vh;
  /* margin: 0.3rem */
}

.sneaker-wrapper {
  display: flex;
  position: absolute;
}

.sneaker-wrapper:first-child {
  margin-left: 0.3rem;
}

.flex-child {
  flex: 1;
  padding: 0.3rem 0.3rem 0.3rem 0rem;
}

.img-div {
  height: calc(95vh - 2.9rem);
  overflow-y: hidden;
}

.img-div img {
  height: calc(95vh - 2.9rem);
  overflow-y: hidden;
}

.brand-model-div {
  height: 2.3rem;
  background-color: rgb(112, 112, 112, 0.12);
  font-size: 0.8rem;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff5c00;
}

.brand-model-div div {
  margin: 0px 5px;
}

.price-div {
  font-size: 1rem;
}

.buttonStyled {
  padding: 1.3rem 2rem;
  font-size: 2rem;
  color: black;
  font-weight: inherit;
  background-color: black;
  opacity: 0.5;
  border: none;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.buttonStyled:hover {
  opacity: 0.7;
  color: black;
  text-shadow: -0.7px 0 white, 0 0.7px white, 0.7px 0 white, 0 -0.7px white;
}

.arrow-box {
  padding: 1.3rem 2rem;
  font-size: 1.4rem;
  background-color: black;
  color: black;
  text-shadow: -0.7px 0 white, 0 0.7px white, 0.7px 0 white, 0 -0.7px white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 2rem);
  left: calc(50% - 15rem);
  position: absolute;
  -webkit-animation: displaying 3.5s;
  -moz-animation: displaying 3.5s;
  -o-animation: displaying 3.5s;
  animation: displaying 3.5s;
  animation-fill-mode: forwards;
}

@keyframes displaying {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.item-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.item-img-div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img-div img {
  /* margin-top: 1rem; */
  width: 82%;
}

.restOfDetails {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.info-item-div {
  text-transform: capitalize;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ff5c00;
}

.description {
  /* margin: 2rem 0rem; */
  width: 85%;
  color: #ff5c00;
}

.dropdown {
  text-transform: uppercase;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-bottom: 2rem; */
}

.dropdown div {
  background-color: white;
  color: #ff5c00;
  /* border: 0.1px solid black; */
  /* padding: 0.5rem; */
}

.dropdown div select {
  background-color: white;
  margin-left: 1rem;
  color: #ff5c00;
  border: 0.1px solid #ff5c00;
  padding: 0.3rem;
  /* border-radius: 10px; */
}

.buttondiv {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtocart {
  width: 100%;
  border: none;
  padding: 1rem 0rem;
  text-transform: uppercase;
  background-color: #c0ff0c;
  font-size: 1.4rem;
  cursor: pointer;
}

.styleNav {
  color: #ff5c00;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #707070;
  transition: 0.3s linear;
}

.styleNav:hover {
  border: none;
  color: #707070;
  background-color: #c0ff0c;
}

.secondButtondiv {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem 0rem;
  width: 80%;
  background-color: #ff5c00;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  list-style: none;
  flex-wrap: wrap;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0rem;
  width: 80%;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.flex-cart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.box-for-flex {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-cart-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-img-info-div {
  width: 95%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
}

.ITEM-cart {
  width: 10%;
}

.cart-imgdiv {
  width: 20%;
  height: 100%;
}

.cart-imgdiv img {
  width: 100%;
  height: 100%;
}

.cart-img-info-div-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart-img-info-div-header h3 {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cart-img-info-div-header div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pricediv {
  font-size: 1.4rem;
  display: flex;
  align-items: flex-start;
}

.qtydiv {
  font-size: 0.8rem;
}

.modeldiv {
  font-size: 1rem;
}

.icondiv {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-style: 1rem;
}

#icon {
  width: 1.5em;
  height: 1.5em;
  font-weight: 900;
  cursor: pointer;
}

.cart-qty-size-price-div {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.totalDiv {
  width: 35%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subheader-total {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.total-total {
  border-top: 1px solid #d3d3d3;
  padding-top: 1rem;
  margin-top: 0.5rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.header-total h3 {
  margin-top: 0.5rem;
}

.header-total {
  font-size: 1.5rem;
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.paymentbutton {
  width: 60%;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-bottom: 1rem;
}

.paymentbutton button {
  /* flex-grow: 1;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff5c00;
  color: white;
  text-transform: uppercase; */
}

/* PAYMENT*/

.payment-layout {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.payment-delivery-method {
  display: flex;
  flex-direction: row-reverse;
}

/* Recap */

.Recap {
  display: flex;
  flex-direction: row;
}

.cart-Recap {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20em;
  width: 20%;
  flex-grow: 6;
  min-height: 25vh;
  height: auto;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  border: 1px solid #ff5c00;
}

.cart-Recap-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cart-Recap-Header h5 {
  display: flex;
}

.card-Total {
  display: flex;
  justify-content: flex-end;
  width: 10rem;
  margin-left: 0;
}

/* NOW */

.payment-Solution {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.payment-Solution h5 {
  margin-right: 1rem;
}

.payment-Solution>div {
  display: flex;
  justify-content: center;
}

.delivery-Solution>div {
  display: flex;
  justify-content: center;
}

.Choices {
  display: flex;
  flex-direction: row;
}

.delivery-Solution {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#shoppingbasket {
  width: 2em;
  height: 2em
}

.delivery-creditcard-form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.pay {
  display: flex;
  flex-direction: row;
}

.adress-Recap>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.adress-Recap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
}

.firstname {
  display: flex;
  width: 80%;
}

.validity-ccv {
  display: flex;
  width: 80%;
}

.validity {
  display: flex;
  align-items: flex-start;
  width: 60%;
  margin-right: 0.5rem;
}

.ccv {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lastname {
  display: flex;
  width: 80%;
}

.adress {
  width: 80%;
  display: flex;
}

.mail {
  width: 80%;
  display: flex;
}

.mail>span {
  width: 100%;
}

.card {
  width: 80%;
  display: flex;
}

.country {
  display: flex;
  width: 80%;
}

.zip {
  display: flex;
  width: 80%;
}

.checkout-flex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.checkout-products {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.checkout-products-brandmodel {
  display: flex;
  flex-direction: column;
}

.checkout-shipping-total-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.checkout-shipping {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.checkout-total {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.checkout-delivery-payment-wrapper {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.checkout-delivery {
  display: flex;
  flex-direction: column;
}

.checkout-payment {
  display: flex;
  flex-direction: column;
}

.confirmed {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}