* {
  margin: 0;
  padding: 0;
  outline: none;
}

nav {
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar:hover {
  color: lime;
  background-color: thistle;
}

.navbar {
  color: black;
  text-decoration: none;
  list-style: none;
  padding: 1rem 3rem;
}
