* {
  margin: 0;
  padding: 0;
  font-family: "Hind Vadodara", sans-serif;
}

/* LAYOUT */

.container {
  background-color: #c0ff0c;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* NAVBAR */
.layout-navbar-flex {
  margin-left: 1rem;
  flex-grow: 0.8;
}
.nav {
  width: 70px;
  background-color: white;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* CONTENT */
.layout-only-for-flex {
  margin: 1rem;
  flex-grow: 5000;
}
.layout-content-flex {
  padding: 0.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.4rem;
  row-gap: 0.4rem;
  background-color: white;
  height: calc(95vh - 0.8rem);
}

/* SHOPPING CART AND BURGERBAR LOGO */

.nav-shoppingcart-burgerbar-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  flex-grow: 0.2;
}

.nav-onlyshoppingcart-burgerbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 0.5;
}

#burgerMenu {
  cursor: pointer;
  /* color: #c0f779; */
}

/* PRODUCT BURGER BAR */

.nav-product {
  transform: rotate(270deg);
}

.products {
  text-decoration: none;
  list-style: none;
  font-weight: 100;
}

/* TITLE, HOME */

.nav-header {
  height: 4rem;
}

.nav-header h4 {
  transform: rotate(270deg);
  font-weight: 900;
  font-size: 1.3rem;
}

/* ALL LINKS */

.navbar {
  color: black;
  text-decoration: none;
}

/* FLEX LAYOUT */
.flex-child img {
  width: 100%;
  height: auto;
}

.flex-child {
  display: flex;
  flex-direction: column;
}

.img-div {
  background-color: #707070;
  align-items: flex-start;
  flex-grow: 5;
}


.brand-model-div {
  background-color: #707070;
  font-size: 0.7rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-grow: 0;
  color: #ff5c00;
}
.brand-model-div div {
  margin: 0px 5px;
}
